<div class="card">
  <div class="card__img">
     <%= link_to prototype_path(prototype) do %>
     <% if prototype.image.attached? %>
    <%= image_tag prototype.image %>
    <% end %>
    <% end %>
  </div>
  

  <div class="card__title">
  <%= link_to prototype.title, prototype_path(prototype) %>
 </div>

  <div class="card__summary">
  <p><%= prototype.catch_copy %></p>
</div>

  <!-- 投稿者名 -->
  <%= link_to "by #{prototype.user.name}", user_path(prototype.user), class: "card__user" %>
</div>
  